/**************************** Top *********************************/

body {
  font-family: 'Shadows Into Light', cursive;
}

:root {
  --primary-green: rgb(97, 208, 18);
  --primary-tara: rgb(226,114,91);
  --primary-h1: rgb(218, 241, 172);
  --primary-aliceblue: rgb(240, 248, 255);
}

/**************************** NavBar *********************************/

.logo {
  width: 6rem;
  height: 5.4rem;
  border-radius: 20px;
  box-shadow: 3.5px 3.5px 10px var(--primary-h1);
}

/**************************** Menu Link *********************************/

nav a.nav-link {
  letter-spacing: 0.406rem;
  cursor: pointer;
  font-size: 2.125rem;
}

nav ul li {
  font-family: 'Shadows Into Light', cursive;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-tara);
  text-shadow: 2px 2px 10px var(--primary-h1);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0;
  height: 6rem;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:active:focus {
  border-bottom: 0.188rem solid var(--primary-green);
}

.navbar-nav > li > a:hover {
  border-bottom: 0.188rem solid var(--primary-green);
  color: var(--primary-green);
}

.navbar-nav >  li > a.active {
  color: var(--primary-green);
}




/**************************** Header *********************************/

.header-wraper {
  position: relative;
  background: url(rWallpaper.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
}

.main-info h1 {
  margin: 4rem;
  margin-bottom: 0%;
  font-size: 4rem;
  color: var(--primary-h1);
}

.main-info h3 {
  margin: 4rem;
  color: var(--primary-h1);
  margin-top: 1rem;
}


/**************************** Typed Text *********************************/

.typed-text {
  font-size: 2rem;
  color: var(--primary-aliceblue);
}

/**************************** HEADER (btn-main-offer) *********************************/

.btn-main-offer {
  border: 1px solid var(--primary-h1);
  text-transform: uppercase;
  border-radius: 500px;
  border-width: 2px;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-green);
  margin: 1rem;
}

.main-info a:hover {
  color: var(--primary-aliceblue);
  box-shadow: 3.5px 3.5px 10px var(--primary-aliceblue);
}

